.item{
    width: 100%;
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.itemTitleWrapper{
    display: flex;
    flex-direction: column;
}

.itemTitle{
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--main-color);
}
.itemPercent{
    font-size: .9rem;
    font-weight: 600;
}
.itemPercent.up{
    color: var(--fifth-color);
}
.itemPercent.down{
    color: var(--second-color);
}
.itemValue{
    color: var(--icon-color-main);
}