:root{
  --light-color: #F8F8F9;
  --main-color: #160F3F;
  --main-color-light: #1B174D;
  --second-color: #D64979;
  --third-color: #9AA8BD;
  --fourth-color: #60A9CD;
  --fifth-color: #8FCA37;

  --text-color-main: #CAC3FF;

  --icon-color-main: #8B9AA6;
  --white: #ffffff;

  --container-border-radius: 10px;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}

.App{
  background-color: var(--light-color);
}

.mainWrapper{
  display: flex;
}

.main{
  flex: 6;
}


* {
  scrollbar-width: auto;
  scrollbar-color: #999999 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #999999;
  border-radius: 10px;
  border: 3px solid #ffffff;
}